source ~/.lazy-idea/lazy-idea.vim

" multiple-cursors: Extends multicursor support
Plug 'terryma/vim-multiple-cursors'
" Remap multiple-cursors shortcuts to match terryma/vim-multiple-cursors
let g:WhichKeyDesc_multicursor_NextWholeOccurrence = "<leader><C-n> Multicursor Next Occurrence"
nmap <C-n> <Plug>NextWholeOccurrence
xmap <C-n> <Plug>NextWholeOccurrence
nmap g<C-n> <Plug>NextOccurrence
xmap g<C-n> <Plug>NextOccurrence
xmap <C-x> <Plug>SkipOccurrence
xmap <C-p> <Plug>RemoveOccurrence

" Note that the default <A-n> and g<A-n> shortcuts don't work on Mac due to dead keys.
" <A-n> is used to enter accented text e.g. ñ
" Feel free to pick your own mappings that are not affected. I like to use <leader>
let g:WhichKeyDesc_leader_m= "<leader>m +multicursor"
let g:WhichKeyDesc_multicursor_AllOccurrences = "<leader>m<C-n> All Occurrences"
"nmap <leader><C-n> <Plug>AllWholeOccurrences
"xmap <leader><C-n> <Plug>AllWholeOccurrences
nmap <leader>m<C-n> <Plug>AllOccurrences
xmap <leader>m<C-n> <Plug>AllOccurrences

" abolish: Case-aware substitute and coercion mappings between case styles
Plug 'tpope/vim-abolish'
let g:WhichKeyDesc_cr= "cr Abolish"
let g:WhichKeyDesc_crs= "crs to snake_case"
let g:WhichKeyDesc_cr_= "cr_ to snake_case"
let g:WhichKeyDesc_crm= "crm to PascalCase"
let g:WhichKeyDesc_crp= "crp to PascalCase"
let g:WhichKeyDesc_crc= "crc to camelCase"
let g:WhichKeyDesc_cru= "cru to UPPER_SNAKE_CASE"
let g:WhichKeyDesc_crU= "crU to UPPER_SNAKE_CASE"
let g:WhichKeyDesc_crdash= "cr- to kebab-case"
let g:WhichKeyDesc_crk= "crk to kebab-case"
let g:WhichKeyDesc_crperiod= "cr. to dot.case"
let g:WhichKeyDesc_crspace= "cr<Space> to space case"
let g:WhichKeyDesc_crt= "crt to title"

" Enabled VimEverywhere
set VimEverywhere

" classtextobj: Provides a text object for class definitions
set classtextobj

" Close all windows in group
let g:WhichKeyDesc_buffer_delete_all = "<leader>ba Delete All Buffers"
nmap <leader>ba <Action>(CloseAllEditors)

" Test with Code Coverage
let g:WhichKeyDesc_test_coverage = "<leader>tc Run File with Coverage"
nmap <leader>tc <Action>(Coverage)
if g:is_ide_rider | nmap <leader>tc <Action>(RiderUnitTestCoverContextAction) | end

" Test with Profiler
let g:WhichKeyDesc_test_profile = "<leader>tp Profile File"
nmap <leader>tp <Action>(DefaultProfilerExecutorGroupContextActionId)
if g:is_ide_rider | nmap <leader>tp <Action>(RiderUnitTestProfileContextAction) | endif

let g:WhichKeyDesc_leader_i = "<leader>i +intellij"
" Toggle open Database
let g:WhichKeyDesc_database = "<leader>id Database Explorer"
nmap <leader>id <Action>(ActivateDatabaseToolWindow)

" Toggle open Maven
let g:WhichKeyDesc_maven = "<leader>im Maven Tool"
nmap <leader>im <Action>(ActivateMavenToolWindow)

" --- Build Tool Window ---
let g:WhichKeyDesc_build = "<leader>ib Build Output"
nmap <leader>ib <Action>(ActivateBuildToolWindow)

" --- Services Tool Window (Docker, App Servers, Run Dashboard) ---
let g:WhichKeyDesc_services = "<leader>is Services Dashboard"
nmap <leader>is <Action>(ActivateServicesToolWindow)

" Move selected lines down
vnoremap J :m '>+1<CR>gv=gv

" Move selected lines up
vnoremap K :m '<-2<CR>gv=gv

" Stretch Splits
nmap <C-A-Right> <Action>(StretchSplitToRight)
nmap <C-A-Left> <Action>(StretchSplitToLeft)
nmap <C-A-Up> <Action>(StretchSplitToTop)
nmap <C-A-Down> <Action>(StretchSplitToBottom)
